RewriteEngine On
RewriteRule ^dashboard?$ dashboard.php
RewriteRule ^stunting?$ stunting.php
RewriteRule ^cash-based?$ cash.php
RewriteRule ^obesity?$ obesity.php
RewriteRule ^micronutrient?$ micro.php
RewriteRule ^reports?$ reports.php
RewriteRule ^infant?$ infant.php
RewriteRule ^school?$ school.php
RewriteRule ^login?$ login.php